<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Welcome to AMR+!</title>
</head>
<body>

<font size=5>Welcome to AMR+!</font>
<br>The Aligned Version of Abstract Meaning Representation Annotation Toolkit.
<br>Take a breath. Let's begin ╮(￣▽￣)╭
<br>

{% block sentence_selection %}
<form method="post">
    <br>
    Sentence ID
    <input type="number" name="sentence_id" id="sentence_id" size=8 min=1 max={{total_sentences}} value={{sentence.id}}>
    <input type="submit" name="set_sentence" id="set_sentence" size=6 value="save&go"><br>
</form>
<br>
{% endblock %}

{% block sentence_alignment %}
    <br>
    <table border=1 bordercolor=lightgray>
    <tr>
    {% for index in indices %}
        <td><font color={{"red" if index+1 in sentence.annotated_indices else "blue"}} size=4>{{sentence.words[index]}}</font></td>
    {% endfor %}
    </tr>
    <tr>
    {% for index in indices %}
        <td><div align="center">{{index+1}}</div></td>
    {% endfor %}
    </tr>
    </table>
{% endblock %}

<br><br>

<table width=100%>
<tr>
<td width=50% valign="top">
{% block annotation_tree %}
    <br>
    <table width=70% border=0>
        {% for index in node_indices %}
        <tr bgcolor={{"#FFFFFF" if index%2 else "#ECF5FF"}}>
			<td>
			<a href="{{ url_for('delete_node', node_index=index) }}">{{index}}</a>
            </td>
            <td>
			<form method="post">
				{% for n in range(nodes[index].depth) %}
				    &nbsp;&nbsp;&nbsp;
				{% endfor %}
	            {{nodes[index].relation}}
				(/)
				&nbsp;
				x{{nodes[index].word_index}}
				 /
				<font color={{"blue" if nodes[index].manual_word else "black"}}>
					{{nodes[index].word}}
				</font>
				{% if nodes[index].verbframe %}
				    {% if sentence.editing_node == index %}
						<select name="sense_selection" id="sense_selection">
						{% for verb in nodes[index].verbframe.verbs %}
							<option value={{verb.sense_id}}>{{verb.sense_id}}</option>
						{% endfor %}
						</select>
						<input type="submit" name="set_sense" id="set_sense" value="save">
					{% else %}
						<a href="{{ url_for('edit_sense', node_index=index) }}">
							{% if nodes[index].verbframe.assigned_sense %}
							    {{ '%02d' % nodes[index].verbframe.assigned_sense }}
							{% else %}
								??
							{% endif %}
						</a>
					{% endif %}
				{% endif %}
			</form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</td>


<td width=50% valign="top">
{% block verbframe %}
{% if sentence.highlighted_node.verbframe %}
	senses of verb {{sentence.highlighted_node.word}}:
	<br><br>
	{% for verb in sentence.highlighted_node.verbframe.verbs %}
		{{sentence.highlighted_node.word}}:{{verb["sense_id"]}},
		<br>
		{{verb["args"]}}
		<br><br>
	{% endfor %}
{% endif %}
{% endblock %}
</td>
</tr>
</table>


<br><font color=blue>your last cmd: </font>
{% if g.last_command %}
  {{ g.last_command }}
{% else %}
  None
{% endif %}
<br>

<form method="post">
    <input type="text" name="relation" id="relation" maxlength="200" autofocus="autofocus" autocomplete="off">
    <input type="submit" name="add_relation" id="add_relation" value="ok" id="su">
</form>

<br>
gothere@126.com  2016 版权所有 all rights reserved!
<br>
</body>
</html>
