<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Welcome to AMR+!</title>
</head>
<body>

<font size=5>Welcome to AMR+!</font>
<br>The Aligned Version of Abstract Meaning Representation Annotation Toolkit.
<br>Take a breath. Let's begin ╮(￣▽￣)╭
<br>

{% block sentence_selection %}
<form method="post">
    <br>
    Sentence ID
    <input type="number" name="sentence_id" id="sentence_id" size=8 min=1 max={{total_sentences}} value={{sentence.id}}>
    <input type="submit" name="set_sentence" id="set_sentence" size=6 value="save&go"><br>
</form>
<br>
{% endblock %}

{% block sentence_alignment %}
    <br>
    <table border=1 bordercolor=lightgray>
    <tr>
    {% for index in indices %}
        <td><font color={{colors[index+1]}} size=4>{{sentence.words[index]}}</font></td>
    {% endfor %}
    </tr>
    <tr>
    {% for index in indices %}
        <td><div align="center">{{index+1}}</div></td>
    {% endfor %}
    </tr>
    </table>
{% endblock %}

{% block annotation_tree %}
    <br>
    <table border=0>
        {% for index in node_indices %}
        <tr bgcolor={{"#FFFFFF" if index%2 else "#ECF5FF"}}>
			<td>
			<a href="{{ url_for('delete_node', node_index=index) }}">{{index}}</a>
            </td>
            <td>
				{% for n in range(sentence.nodes_as_list()[index]["depth"]) %}
				    &nbsp;&nbsp;
				{% endfor %}
            {{sentence.nodes_as_list()[index]["relation"]}}(/) &nbsp; x{{sentence.nodes_as_list()[index]["word_index"]}} / {{sentence.nodes_as_list()[index]["word"]}}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}



<table border=0>
    <tr><td>
<br><font color=blue>your last cmd: </font>
{% if g.last_command %}
  {{ g.last_command }}
{% else %}
  None
{% endif %}
<br>

<form method="post">
    <input type="text" name="relation" id="relation" maxlength="200" autofocus="autofocus" autocomplete="off">
    <input type="submit" name="add_relation" id="add_relation" value="ok" id="su">
</form>

<br>
gothere@126.com  2016 版权所有 all rights reserved!
<br>
</body>
</html>
